body{
    background-color:lightblue;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Piazzolla', serif;
    }
    
    #wrapper{
    width:100%;
    height:auto;
    background-color:#fff;
    border:1px solid #333;
    box-sizing: border-box;
    }

/* HEADER */
    header {
    overflow:hidden;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#63b6db+0,309dcf+100;Blue+3D+%234 */
    background: rgb(255, 255, 255); /* Old browsers */
    }

    header img {
        width: 8%;
        float: left;
        padding: 5px 5px 35px 6px;
    }

    header h1 {
    color:rgb(0, 0, 0);
    font-size:40px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;    }
    
/*NAV*/
    nav {
    overflow: hidden;
    background-color: rgb(224, 42, 42);
    font-family: Arial;
  }
  
  nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  nav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(250, 150, 150);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(250, 150, 150);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
/*  Main */
    main {
        overflow:hidden;
        padding-left: 15px;
        min-height: 660px;
    }

/* FOOTER */
  footer {
    background-color: rgb(224, 42, 42);

    text-align:center;
    padding: 15px;
    position: relative;
    }

    footer p {
        margin: 0px;
        font-size: 20px;
        color: #fff;
    }