{% extends 'base.html' %} 

{% block head %}
<title>Findbite</title>
{% endblock %}

{% block body %}
<nav>
    <a href="/">Startsida</a>
    <div class="dropdown">
        <button class="dropbtn">Min Profil</button>
        <div class="dropdown-content">
        <a href="login">Logga in</a>
        <a href="register">Registrera dig</a>
        </div>
    </div> 
    <a href="aboutus">Om oss</a>
    <a href="contact">Kontakt</a>
</nav>
<main>
    <h1>Om oss</h1>
    <p>FindBite är en tjänst med syfte att förenkla processen att hitta restauranger i Malmö-området. Genom att fylla i vårt enkla formulär hittar du enkelt dem restauranger som 
    passar dina önskemål.</p>
    <p>FindBite startades som ett skolprojekt av fyra studenter på Malmö Universitet och var en del av bedömningen i kursen Systemutveckling och projekt 1.</p>
</main>
{% endblock %}
