{% extends 'base.html' %} 

{% block head %}
<title>Findbite</title>
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=60aa571bea7f3c00119845c4&product=image-share-buttons" async="async"></script>
{% endblock %}

{% block body %}
<h1>Restauranger</h1>

<ul>
{% for restaurant in restaurants %}


<a href="{{ restaurant["url"] }}">{{ restaurant["name"] }}</a><li><strong>({{ restaurant["price"] }}) ({{ restaurant["review_count"] }})</strong></li>
<br>
<img id="resbild" src= {{restaurant["image_url"]}}>

<form action="add_fav" method="POST">
    <input id="restaurantid" type = "hidden" name = "restaurantid" />

    <input type="submit" name="submit" value="Lägg till favorit">
</form>


{% endfor %}
</ul>

{% endblock %}