{% extends 'base.html' %} 

{% block head %}
<title>Findbite</title>
{% endblock %}

{% block body %}
<nav>
    <a href="/">Startsida</a>
    <div class="dropdown">
        <button class="dropbtn">Min Profil</button>
        <div class="dropdown-content">
        <a href="myinfo">Min uppgifter</a>
        <a href="#">Mina listor</a>
        <a href="/">Logga ut</a>
        </div>
    </div> 
    <a href="aboutus">Om oss</a>
    <a href="contact">Kontakt</a>
    <a href="historik">Historik</a>
</nav>
<main>
    <h1>Mina uppgifter</h1>
    <p>Fyll i dina befintliga uppgifter</p>
    <form action="\push_new_info" method="POST">
        <input id="username" type="text" name="username" placeholder="användarnamn">
        <br> <br>
        <input id="email" type="email" name="email" placeholder="email">
        <br> <br>
        <input id="password" type="password" name="password" placeholder="lösenord">
        <br> <br>
        <input type="submit" value="Spara ändringar">
</main>
{% endblock %}