{% extends 'base.html' %} 

{% block head %}
<title>Findbite</title>
{% endblock %}

{% block body %}
<nav>
    <a href="/">Startsida</a>
    <div class="dropdown">
        <button class="dropbtn">Min Profil</button>
        <div class="dropdown-content">
            {%if session == ""%}
        <a href="login">Logga in</a>
        <a href="register">Registrera dig</a>
            {%else%}
            <a href="myinfo">Min uppgifter</a>
            <a href="#">Mina listor</a>
            <a href="/logout">Logga ut</a>
             {%endif%}
        </div>
    </div> 
    <a href="aboutus">Om oss</a>
    <a href="contact">Kontakt</a>
    <a href="historik">Historik</a>
</nav>
<main>
    <h1>Välkommen till FindBite!</h1>
    <p>Vänligen fyll i formuläret för att meddela oss dina preferenser och krav:</p>
    <form action="/api-test" method='POST'>
        <fieldset>
            <legend>Matpreferenser</legend>
                <!--Proteinkälla-->
                <br>
                <label for="Proteinkälla">Proteinkälla:</label>
                <select name="Proteinkälla" id="Proteinkälla">
                    <option value="meat">Kött</option>
                    <option value="fish">Fisk</option>
                    <option value="chicken">Kyckling</option>
                    <option value="vegan">Vegetariskt</option>
                    <option value="#">Det spelar ingen roll</option>
                </select>
                <br>
                <!--Typ av mat-->
                <br>
                <label for="Typ_av_mat">Typ av mat:</label>
                <select name="Typ_av_mat" id="Typ_av_mat">
                    <option value="italian"> Italienskt</option>
                    <option value="husmanskost">Husmanskost</option>
                    <option value="greek">Grekiskt</option>
                    <option value="asian">Asiatiskt</option>
                    <option value="#">Det spelar ingen roll</option>
                </select>
                <br>
                
                <!--Prisklass-->
                <p>Prisklass:
                <br>
                    <input type="checkbox" name="price" value="1">
                    Låg prisklass
                    <input type="checkbox" name="price" value="2">
                    Medel prisklass
                    <input type="checkbox" name="price" value="3">
                    Hög prisklass
                </p>
                <input type="submit" value="Hitta Restauranger">
        </fieldset>
    </form>
    <p><i>Hoppas du hittar restauranger som är lämpliga för dig!</i></p>
    <br>
    <p><strong>FindBite</strong></p>
</main>
{% endblock %}