{% extends 'base.html' %} 

{% block head %}
<title>Findbite</title>
{% endblock %}

{% block body %}
<nav>
    <a href="index.html">Startsida</a>
    <div class="dropdown">
        <button class="dropbtn">Min Profil</button>
        <div class="dropdown-content">
        <a href="#">Min uppgifter</a>
        <a href="#">Mina listor</a>
        <a href="#">Hjälp</a>
        <a href="#">Logga ut</a>
        </div>
    </div> 
    <a href="#">Om oss</a>
    <a href="#">Kontakt</a>
</nav>
<main>
    <form class="box" action="\post_user" method="post">
        <h1>Registrera dig</h1>
        <label for="username"></label>
        <input id="username" type="text" name="username" placeholder="användarnamn">

        <label for="email"></label>
        <input id="email" type="email" name="email" placeholder="email">

        <label for="password"></label>
        <input id="password" type="password" name="password" placeholder="lösenord">

        <input type="submit" name="submit" value="Registrera dig">
    </form>


</main>
{% endblock %}
